<div class="personal-info-container">
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner"></div>
  </div>

  <div *ngIf="successMessage" class="message success fixed top-4 left-1/2 transform -translate-x-1/2 bg-green-500 text-white px-4 py-2 rounded shadow z-50">
    {{ successMessage }}
  </div>
  
  <div *ngIf="errorMessage" class="message error fixed top-4 left-1/2 transform -translate-x-1/2 bg-red-500 text-white px-4 py-2 rounded shadow z-50">
    {{ errorMessage }}
  </div>



<br>
<div class="profile-container">
  <div class="profile-picture-container mx-auto">
    <label for="file-upload" class="profile-picture-label">
      <img *ngIf="previewImage; else placeholder" [src]="previewImage.startsWith('data') ? previewImage : _ImagesService.getImageUrl(previewImage)"
      alt="Profile Picture" class="profile-picture" />
      <ng-template #placeholder>
        <span class="profile-placeholder">+</span>
      </ng-template>
    </label>
    <input type="file" id="file-upload" (change)="onFileChange($event)" hidden />
  </div>

  <button (click)="onSubmit()" class="upload-button">Upload</button>
</div>


<!-- ------------------------------ -->



  <div *ngFor="let section of personalInfoSections" class="section">
    <div class="section-header">
      <h2>{{ section.title }}</h2>
      <p *ngIf="section.description" class="section-description">{{ section.description }}</p>
    </div>

    <div class="section-content">
      <div *ngFor="let field of section.fields" class="field">
        <label for="{{ field.name }}">{{ field.label }}</label>
        <input
          id="{{ field.name }}"
          [type]="field.type"
          [placeholder]="field.placeholder"
          [(ngModel)]="field.value"
          [disabled]="!section.editMode"
          class="input"
        />
      </div>

      <div class="actions">
        <button 
          *ngIf="!section.editMode && section.title !== 'Email address'" 
          (click)="editSection(section)" 
          class="primary-button">
          Edit
        </button>
        
        <ng-container *ngIf="section.editMode">
          <button 
            (click)="saveSection(section)" 
            class="primary-button">
            Save
          </button>
          <button 
            (click)="cancelEdit(section)" 
            class="secondary-button">
            Cancel
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>