################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Airbnb-Backend/WebApplication1/WebApplication1.csproj.Backup.tmp
