.custom-carousel img {
    width: 100%;        /* تأكد من أن الصورة تأخذ عرض العنصر بالكامل */
    height: 100%;       /* تأكد من أن الصورة تأخذ ارتفاع العنصر بالكامل */
    object-fit: cover;  /* تأكد من أن الصورة تملأ المربع بدون تشويه */
    object-position: center; /* إذا كانت الصورة أكبر من المربع، سيتم قص الأطراف بشكل متناسق */
}