<footer class="airbnb-footer">
    <div class="footer-top">
      <div class="footer-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Sitemap</a>
        <a href="#">Company details</a>
      </div>

      <div class="footer-icons">
        <a href="https://www.facebook.com" target="_blank"><i class="pi pi-facebook"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="pi pi-instagram"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="pi pi-twitter"></i></a>
      </div>
    </div>

    <div class="footer-bottom">
      <span>© 2025 Airbnb, Inc.</span>
      <div class="footer-language">
        <i class="pi pi-globe"></i>
        <span>English (US)</span>
        <span>$ USD</span>
      </div>
    </div>
  </footer>
